<div class="container">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-3"></div>
		<div class="col-xs-3"></div>
		<div class="col-xs-3">
			<address>
				<strong class="glyphicon glyphicon-briefcase">Fortune 500, Inc.</strong><br>
				1005 Gravenstein HWY North<br>
				Sebastopol, CA 95472<br>
				<a class="glyphicon glyphicon-earphone" href="tel:+17078277000">(707) 827-7000</a>
			</address>
			<address>
				<strong>Jake Spurlock</strong><br>
				<a class="glyphicon glyphicon-mail" href="mailto:#">flast@oreilly.com</a>
			</address>
		</div>
	</div>
    <div class="row text-muted">
		<div class="col-xs-8">   	
        	<section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>                
    			</div>
		<div class="col-xs-4"><section class="poweredby pull-right">Proudly published with <a href="http://ghost.org">Ghost</a></section></div>
	</div>
</div>