<div class="container img-not-overflow">
<div class="row"> 
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <span class="label label-success">We and World</span>
      <h3 class="featurette-heading">The success start at school: internet for everyone</h3>
    <img class="img-rounded" src="/assets/images/gluttony.jpg"/>
    <p class="span">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <span class="label label-danger">Hurr Up!</span>
      <h3 class="featurette-heading">Last days 3x1: take 3 and pay 1!!!</h3>
    <p class="span">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <span class="label label-warning">Real-life: far away from home</span>
      <h3 class="featurette-heading">Every start never change after the trip</h3>
    <p class="span">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <img class="img-rounded" src="/assets/images/Gluttony_Golden-Plated.png"/>
    </div>
  </div>
  </div>
