<span class="label label-info">Project side</span>
<div class="bs-example">
      <div class="media row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <a class="pull-left" href="#">
              <img class="media-object" width="64px" height="64px" src="/assets/images/windows.png">
        </a>
        </div>
        <div class="media-body col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <h4 class="media-heading">.NET : a way to WPize your life</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. 
         </div>
      </div>      
      <div class="media row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <a class="pull-left" href="#">
              <img class="media-object" width="64px" height="64px" src="/assets/images/apple.png">
        </a>
        </div>
        <div class="media-body col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <h4 class="media-heading">Print at home for monday-nightmare briefing</h4>
          Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.        
          </div>
      </div>      
</div>

